body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #f0f0f0;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid #ccc; /* Border color */
}

.square {
    width: calc(100% / 16); /* Berechnet die Breite basierend auf 16 Quadraten pro Zeile */
    height: calc(100% / 16); /* Quadratische Form */
    transition: background-color 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff; /* Square color */
    border: 1px solid #686868; /* Border color */
}